body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(https://images.pexels.com/photos/5256142/pexels-photo-5256142.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  -webkit-box-shadow: inset 10px 10px 163px 109px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: inset 10px 10px 163px 109px rgba(0, 0, 0, 0.71);
  box-shadow: inset 10px 10px 163px 109px rgba(0, 0, 0, 0.71);
  background-repeat: no-repeat;
  background-position: fixed center center;
  background-size: contain;
  font-family: "Montserrat", sans-serif;
  backdrop-filter: blur(5px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.nav {
  margin-bottom: 1rem;
}
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
.box {
  width: 100%;
  display: flex;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  margin-bottom: 1rem !important;
}
.search_box {
  display: flex;
  margin: auto;
  height: 3rem;
  width: 250px;
  padding-left: 30px;
  border: 1px solid tomato;
  border-radius: 50px;
  background-color: black;
  color: white;
}
.blogcard {
  margin-bottom: 2rem !important;
}

.input_label {
  color: white !important;
}
.text {
  color: white !important;
}
.card_content {
  background: url(https://images.pexels.com/photos/5256142/pexels-photo-5256142.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=);
  -webkit-box-shadow: inset 10px 10px 163px 109px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: inset 10px 10px 163px 109px rgba(0, 0, 0, 0.71);
  box-shadow: inset 10px 10px 163px 109px rgba(0, 0, 0, 0.71);
}
footer {
  background-color: black;
  color: white;
  height: 30px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100%;
  flex: 1;
}
.layout{
  margin-bottom: 2rem;
}
.dogbody{
  color: white;
}
